.container_body_articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  margin-top: 3vh;
}
.container_search_bar {
  border: 1px solid black;
  width: 40%;
  height: 4vh;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.container_articles {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#icono_mis_articulos,
#icono_editar_articulos {
  background-color: var(--ppal_shadow);
  width: fit-content;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
  transition: box-shadow 0.3s ease; /* Transición suave para transform y box-shadow */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0); /* Inicialmente sin sombra visible */
}
#icono_mis_articulos:hover,
#icono_editar_articulos:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3); /* Aplica una sombra para dar la impresión de elevación */
  cursor: pointer;
}

.container_search_icon {
  /* border: 3px solid green; */
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  background-color: var(--ppal_shadow);
}

.search_bar {
  /* border: 3px solid green; */
  width: 92%;
}
#input_search {
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 5px;
  border: none;
  font-family: var(--texto);
  font-size: 1em;
}
/* #bebebe */
.article_wrapper {
  border-radius: 8px;
  overflow: hidden;
  width: 65%;
  height: 25vh;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para transform y box-shadow */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0); /* Inicialmente sin sombra visible */
}
.article_wrapper:hover {
  transform: translate(
    -5px,
    -5px
  ); /* Mueve el elemento hacia arriba y hacia la izquierda */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Aplica una sombra para dar la impresión de elevación */
  cursor: pointer;
}
.article_image {
  /* border: 1px solid red; */
  width: 50%;
  background: url("../img/articulos/articulo_1.png") no-repeat center / cover;
}
/* background: color image-url repeat position/size origin clip attachment; */
.article_brief {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  background-color: white;
}
.resumen_articulo,
.titulo_articulo {
  /* border: 1px solid red; */
  margin: 0 5%;
}
.resumen_articulo {
  font-family: var(--texto);
}
.titulo_articulo {
  font-family: var(--tituloM);
  color: var(--contraste);
}

@media (max-width: 1025px) and (min-width: 769px) {
  .article_wrapper {
    width: 85%;
  }
  .container_search_bar {
    width: 50%;
  }
  .resumen_articulo {
    font-size: 0.9em;
  }
  .titulo_articulo {
    font-size: 1.4em;
  }
}
@media (max-width: 769px) and (min-width: 426px) {
  .article_wrapper {
    width: 100%;
  }
  .container_search_bar {
    width: 80%;
  }
  .resumen_articulo {
    font-size: 0.9em;
  }
  .titulo_articulo {
    font-size: 1.2em;
  }
}
@media (max-width: 426px) and (min-width: 50px) {
  .article_wrapper {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .container_articles {
    width: 85%;
  }
  .container_search_bar {
    width: 80%;
  }
  .container_search_icon {
    width: 10%;
  }
  .search_bar {
    width: 90%;
  }
  .article_image {
    width: 100%;
    height: 18vh;
  }
  .article_brief {
    width: 100%;
    height: auto;
    padding: 2vh 0;
    gap: 2vh;
  }
  .resumen_articulo {
    font-size: 0.9em;
  }
  .titulo_articulo {
    font-size: 1.2em;
  }
}
