.container_articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.articulo {
  border-radius: 8px;
  margin: 5vh 0;
  padding: 5vh 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 5vh;
}
.titulo_articulo {
  text-align: center;
  font-family: var(--tituloM);
}
.parrafo_articulo {
  width: 80%;
  font-family: var(--texto);
}
.imagen_articulo {
  width: 60%;
  height: auto;
}
.imagen_articulo img {
  width: 100%;
  height: auto;
}

@media (max-width: 1441px) and (min-width: 1025px) {
  .articulo {
    width: 80%;
  }
}
@media (max-width: 1025px) and (min-width: 769px) {
  .articulo {
    width: 80%;
  }
}
@media (max-width: 769px) and (min-width: 426px) {
  .articulo {
    width: 80%;
  }
}
@media (max-width: 426px) and (min-width: 50px) {
  .articulo {
    width: 80%;
  }
  .titulo_articulo {
    font-size: 1.3em;
  }
  .parrafo_articulo {
    font-size: 0.9em;
  }
}
