.container_sesiones {
  display: flex;
  height: 75vh;
  border: 3px solid red;
}

.container_cal {
  flex: 3; /* Esto permite que el contenedor crezca o se encoja según el espacio disponible */
  border: 2px solid orange;
  display: flex;
  justify-content: center;
}

.container_list_sesiones {
  flex: 2; /* Esto permite que el contenedor crezca o se encoja según el espacio disponible */
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_titulo_cal {
  border: 5px solid black;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* LISTA SESIONES */
#listaSesiones{
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
}
#list_sesiones {
  border: 1px solid orange;
  width: fit-content;
}

#icono_chat {
  display: block;
  width: fit-content;
  cursor: pointer;
}

.fecha_lista,
.info_lista {
  cursor: pointer;
}

/* CALENDARIO */

#titulo_cal {
  border: 1px solid orange;
}

#mesAnterior {
  position: absolute;
  display: block;
  cursor: pointer;
  width: fit-content;
  left: 0;
  top: 50%;
  border: 1px solid orange;
}

#mesSiguiente {
  position: absolute;
  display: block;
  cursor: pointer;
  width: fit-content;
  right: 0;
  top: 50%;
  border: 1px solid orange;
}

#calendario {
  border: 1px solid orange;
  display: grid;
  height: 60vh;
  width: 90%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 3fr);
}

.celda {
  display: flex;
  background-color: white;
  border: 1px solid #E8E8E8;
  flex-direction: column;
}

.dias_semana {
  padding: 5px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
  background-color: var(--ppal1_variante);
}

.num_dia {
  font-weight: 500;
}

.pasado, .futuro {
  background-color: whitesmoke;
}
.pasado{
  filter: grayscale();
}

.etiqueta_cita {
  /* text-align: center; */
  padding: 2px;
  width: fit-content;
  margin: auto 0px;
  border-radius: 8px;
  background-color: var(--ppal_shadow);
  font-size: 0.9em;
  cursor: pointer;
  align-self: center;
}