.container_sesiones {
  display: flex;
  height: 75vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.container_cal {
  flex: 3; /* Esto permite que el contenedor crezca o se encoja según el espacio disponible */
  display: flex;
  justify-content: center;
}

.container_list_sesiones {
  flex: 2; /* Esto permite que el contenedor crezca o se encoja según el espacio disponible */
  display: flex;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.container_titulo_cal {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* LISTA SESIONES */
#listaSesiones {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
#titulo_lista {
  margin-top: 7%;
  width: 80%;
}

#list_sesiones {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
#list_sesiones li {
  width: 70%;
}

#icono_chat {
  display: block;
  width: fit-content;
  cursor: pointer;
  /* Establece el efecto de sombra inicial */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /* Define la transición para la propiedad box-shadow */
  transition: box-shadow 0.3s ease;
}
#icono_chat:hover {
  /* Desplazamiento horizontal | Desplazamiento vertical | Desenfoque | Tamaño de propagación | Color de la sombra */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  color: var(--ppal);
}

.fecha_lista,
.info_lista {
  cursor: pointer;
  display: block;
}
.fecha_lista {
  background-color: var(--ppal1_variante);
  border: 1px solid #6e6e6e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.info_lista {
  background-color: white;
  border: 1px dotted #8d8d8d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* Define la transición para el cambio de color de fondo */
  transition: background-color 0.3s ease;
}
.info_lista:hover {
  background-color: var(--ppal_shadow);
}
/* CALENDARIO */

#titulo_cal {
  align-self: baseline;
  margin-left: 10%;
  margin-top: 5%;
}

#mesAnterior {
  position: absolute;
  display: block;
  cursor: pointer;
  width: fit-content;
  left: 5%;
  top: 50%;
  user-select: none;
  /* Establece el efecto de sombra inicial */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /* Define la transición para la propiedad box-shadow */
  transition: box-shadow 0.3s ease;
}

#mesSiguiente {
  position: absolute;
  display: block;
  cursor: pointer;
  width: fit-content;
  right: 5%;
  top: 50%;
  user-select: none;
  /* Establece el efecto de sombra inicial */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  /* Define la transición para la propiedad box-shadow */
  transition: box-shadow 0.3s ease;
}
#mesAnterior:hover,
#mesSiguiente:hover {
  /* Desplazamiento horizontal | Desplazamiento vertical | Desenfoque | Tamaño de propagación | Color de la sombra */
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  color: red;
}

#calendario {
  display: grid;
  height: 60vh;
  width: 80%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 3fr);
}

.celda {
  display: flex;
  background-color: white;
  border: 1px dotted #8d8d8d;
  flex-direction: column;
}

.dias_semana {
  padding: 5px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
  background-color: var(--ppal1_variante);
  border: 1px solid #6e6e6e;
}

.num_dia {
  font-weight: 500;
  width: fit-content;
  margin-left: 5px;
}
.dia_actual {
  color: var(--contraste);
  text-decoration: underline;
  font-weight: 900;
}
.pasado,
.futuro {
  background-color: #ebebeb;
}
.pasado {
  filter: grayscale();
}

.etiqueta_cita {
  /* text-align: center; */
  padding: 2px;
  width: fit-content;
  margin: auto 0px;
  border-radius: 8px;
  background-color: var(--ppal_shadow);
  font-size: 0.9em;
  cursor: pointer;
  align-self: center;
  /* Define la transición para el cambio de color de fondo */
  transition: background-color 0.3s ease;
}

.etiqueta_cita:hover {
  background-color: #5fac4f;
}

/* RESPONSIVE */
/* Media query para mobile (al menos 375px) */

@media (min-width: 50px) and (max-width: 426px) {
  .container_cal{
    display: none;
  }
  #list_sesiones{
    width: 100%;
  }
  #list_sesiones li{
    width: 70%;
  }

  #titulo_lista{
    width: 100%;
    text-align: center;
  }
}

/* Media query para tablet (al menos 768px) */
@media (min-width: 426px) and (max-width: 768px) {

  .container_sesiones{
    flex-direction: column;
  }
  .container_list_sesiones{
    order: 2;
  }
  #listaSesiones{
    min-height: 60vh;
  }
  .container_titulo_cal{
    padding-bottom: 2%;
  }
  #titulo_lista{
    margin-left: 10%;
    align-self: baseline;
  }
}
