/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* Variables for colors */
:root {
  --body: #fefae0;
  --ppal: #606c38;
  --ppal_shadow: #a4ac86;
  --ppal1: #582f0e;
  --ppal1_shadow: #a68a64;
  --ppal1_variante: #c3b299;
  --contraste: #800020;
  --contraste1: #b57276;
  --contraste2: #d8a6a9;
  --tituloHero: "Lato", sans-serif;
  --tituloM: "Montserrat", sans-serif;
  --texto: "Open Sans", sans-serif;
}

/* Reset styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--texto);
}

/* Body styles */
body {
  background-color: var(--body);
}

/* Header styles */
header {
  padding: 18px;
  z-index: 1000;
  background-color: var(--ppal_shadow);
  border-bottom: 2px solid black;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

nav {
  flex-grow: 1;
}

nav img {
  width: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  position: relative; /* Importante para posicionar el pseudo-elemento */
  overflow: hidden; /* Asegura que el pseudo-elemento no sea visible fuera de los límites del enlace */
  /* Define la transición para la propiedad color */
  transition: color 0.3s ease-in;
}

/* Define el pseudo-elemento para simular el subrayado */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0; /* Ancho inicial antes del hover */
  height: 2px; /* Altura del subrayado */
  background-color: currentColor; /* Usa el color actual del texto */
  transition: width 0.3s ease-out, left 0.3s ease-out; /* Anima el ancho y la posición izquierda */
}

nav ul li:hover a {
  color: var(--contraste);
  cursor: pointer;
}

/* Anima el pseudo-elemento ::after para crear el efecto de expansión del subrayado */
nav ul li:hover a::after {
  width: 100%; /* Ancho completo para simular el subrayado */
  left: 0; /* Ajusta la posición izquierda para alinear con el borde */
}

.current_page {
  text-decoration: underline;
  color: var(--contraste);
}
.current_page:hover {
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
}

.menu-toggle i {
  cursor: pointer;
}

#logo-nav {
  width: 8%;
}

#separacion {
  display: none;
  width: 90%;
  height: 1px;
  border: none;
  background-color: #000000;
}

#log-bttn {
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

#signup-bttn {
  background: #000000;
  color: #f0f0f0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

#log-bttn:hover {
  color: var(--contraste);
  border-color: var(--contraste);
}

#signup-bttn:hover {
  background-color: var(--contraste);
}

/* Footer styles */
footer {
  background-color: var(--ppal_shadow);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}

.footer-column {
  text-align: left;
  margin-bottom: 1.5rem;
}

.footer-column h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-column p,
.footer-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 0.2rem;
}
.footer-column a {
  text-decoration: none;
  color: inherit;
}
/* Social media styles */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.social-media a {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1rem;
}

.social-media a:last-child {
  margin-right: 0;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .container-nav li a {
    font-size: 16px;
  }
  .footer-column {
    flex-basis: 48%;
  }

  #log-bttn,
  #signup-bttn {
    font-size: 16px;
  }

  .footer-container
    > *:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(5)) {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #logo-menu {
    display: none;
  }

  .menu-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle p {
    text-align: left;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 65px;
    left: 60%;
    width: 40%;
    background-color: var(--ppal_shadow);
    z-index: 999;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
    width: 90%;
  }

  #log-bttn,
  #signup-bttn {
    width: 110px;
    font-size: 14px;
  }

  #separacion {
    display: block;
  }

  #log-bttn,
  #signup-bttn {
    width: 100%;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-container > *:not(:first-child):not(:last-child) {
    display: none;
  }
}
