@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* Variables para los colores */
:root {
  --degradado: linear-gradient(to right, #44a647, #ffd438);
  --degradado_vertical: linear-gradient(
    180deg,
    #606c38 0%,
    #a4ac86 50.66%,
    #d1d3b3 100%
  );
  --body: #fefae0;
  --ppal: #606c38;
  --ppal_shadow: #a4ac86;
  --ppal_shadow2: #d1d3b3;
  --ppal1: #582f0e;
  --ppal1_shadow: #a68a64;
  --contraste: #800020;
  --contraste1: #b57276;
  --contraste2: #d8a6a9;
  --tituloHero: "Lato", sans-serif;
  --tituloM: "Montserrat", sans-serif;
  --texto: "Open Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--texto);
}

body {
  background-color: var(--body);
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}
/* TARJETA */
.contenedor-foro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2em auto;
  gap: 1.5em;
}
.contenedor-foro .tarjeta {
  background: white;
  border-radius: 13px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 660px;
  height: auto;
  padding: 1.9em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
.contenedor-foro .tarjeta .persona {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0 0.9em;
  border-bottom: var(--ppal) solid 1px;
  color: green;
  padding-bottom: 10px;
}
.contenedor-foro .tarjeta .persona img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.contenedor-foro .tarjeta .persona p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contenedor-foro .tarjeta .titulo {
  padding: 0 0.9em;
}
.contenedor-foro .tarjeta .titulo p {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contenedor-foro .tarjeta .contenido img {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.contenedor-foro .tarjeta .contenido p {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 0.9em;
}
/* Estilos para los comentarios */
.contenedor-foro .tarjeta-comentario {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%; /* O ajusta el ancho según tu diseño */
  padding: 10px;
  margin-top: 10px;
}

.contenedor-foro .tarjeta-comentario .persona {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contenedor-foro .tarjeta-comentario .persona img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contenedor-foro .tarjeta-comentario .persona p {
  font-size: 14px;
  font-weight: 600;
}

.contenedor-foro .tarjeta-comentario .contenido {
  margin-top: 5px;
}

.contenedor-foro .tarjeta-comentario .contenido p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
/* ESCRIBIR COMENTARIOS */
.contenedor-comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em; /* Espacio entre el formulario y las tarjetas de comentario */
}

#formulario-comentario {
  width: 100%; /* Ancho completo del contenedor */
  max-width: 660px; /* Mismo ancho máximo que las tarjetas */
}

#texto-comentario {
  width: 100%;
  height: 100px; /* Altura del área de texto */
  border: 1px solid var(--ppal); /* Borde del área de texto */
  border-radius: 8px; /* Borde redondeado */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 10px; /* Espacio entre el área de texto y el botón */
  font-family: var(--texto); /* Fuente */
  resize: none; /* Deshabilita la redimensión */
}

#texto-comentario::placeholder {
  color: var(--ppal); /* Color del marcador de posición */
}

#formulario-comentario button {
  background-color: var(--ppal); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  font-family: var(--texto); /* Fuente */
}

#formulario-comentario button:hover {
  background-color: var(
    --ppal_shadow
  ); /* Color de fondo al pasar sobre el botón */
}
@media (max-width: 768px) {
  .buscador input {
    width: 390px;
  }
  .contenedor-foro .tarjeta {
    background: white;
    border-radius: 8.97px; /* Reducido un 35% */
    box-shadow: 2.73px 2.73px 2.73px 0px rgba(0, 0, 0, 0.25); /* Reducido un 35% */
    width: 429px; /* Reducido un 35% */
    height: auto;
    padding: 1.285em 1.013em; /* Reducido un 35% */
    display: flex;
    flex-direction: column;
    gap: 0.6825em; /* Reducido un 35% */
    justify-content: center;
  }

  .contenedor-foro .tarjeta .persona {
    display: flex;
    gap: 0.3525em; /* Reducido un 35% */
    align-items: center;
    padding: 0 0.6075em; /* Reducido un 35% */
    border-bottom: var(--ppal) solid 0.6825px; /* Reducido un 35% */
    color: green;
    padding-bottom: 6.825px; /* Reducido un 35% */
  }

  .contenedor-foro .tarjeta .persona img {
    width: 42.45px; /* Reducido un 35% */
    height: 42.45px; /* Reducido un 35% */
    border-radius: 50%;
  }

  .contenedor-foro .tarjeta .persona p {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12.375px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .titulo {
    padding: 0 0.6075em; /* Reducido un 35% */
  }

  .contenedor-foro .tarjeta .titulo p {
    color: #000;
    font-family: "Open Sans";
    font-size: 15.75px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .contenido img {
    border-radius: 2.6025px; /* Reducido un 35% */
    display: block;
    margin: 0 auto;
    width: 400px;
  }

  .contenedor-foro .tarjeta .contenido p {
    color: #000;
    font-family: Roboto;
    font-size: 10.725px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 0.6075em; /* Reducido un 35% */
  }
}
@media (max-width: 457px) {
  .contenedor-foro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2em auto;
    gap: 1em; /* Ajuste personalizado */
  }

  .contenedor-foro .tarjeta {
    background: white;
    border-radius: 13px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 330px; /* Reducido en un 50% */
    height: auto;
    padding: 0.95em 0.75em; /* Reducido en un 50% */
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Reducido en un 50% */
    justify-content: center;
  }

  .contenedor-foro .tarjeta .persona {
    display: flex;
    gap: 0.25em; /* Reducido en un 50% */
    align-items: center;
    padding: 0 0.45em; /* Reducido en un 50% */
    border-bottom: var(--ppal) solid 1px;
    color: green;
    padding-bottom: 5px; /* Reducido en un 50% */
  }

  .contenedor-foro .tarjeta .persona img {
    width: 50px; /* Reducido en un 50% */
    height: 50px; /* Reducido en un 50% */
    border-radius: 50%;
  }

  .contenedor-foro .tarjeta .persona p {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px; /* Reducido en un 50% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .titulo {
    padding: 0 0.45em; /* Reducido en un 50% */
  }

  .contenedor-foro .tarjeta .titulo p {
    color: #000;
    font-family: "Open Sans";
    font-size: 18px; /* Reducido en un 50% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .contenido img {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 100%; /* Ajuste para ocupar el ancho completo del contenedor */
  }

  .contenedor-foro .tarjeta .contenido p {
    color: #000;
    font-family: Roboto;
    font-size: 8px; /* Reducido en un 50% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 0.45em; /* Reducido en un 50% */
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .buscador input {
    width: 390px;
  }
}

@media (max-width: 1025px) and (min-width: 769px) {
  .container_search_bar {
    width: 50%;
  }
}
@media (max-width: 769px) and (min-width: 426px) {
  .container_search_bar {
    width: 80%;
  }
}
@media (max-width: 426px) and (min-width: 50px) {
  .container_search_bar {
    width: 80%;
  }
  .container_search_icon {
    width: 10%;
  }
  .search_bar {
    width: 90%;
  }
}
