/* --------------------------- PERFIL DE USUARIO --------------------------- */
.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
 }
 
 .profile-container {
   display: grid;
   grid-template-columns: 30% 70%;
   width: 1300px;
   gap: 20px;
   margin: 0 auto;
   align-content: center;
 }
 
 .form-container {
  border: 1px solid #000000;
  border-radius: 4px;
   padding: 30px;
   width: 100%;
 }
 
 .profile-photo-container {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
}

#user-name,
#user-role,
#user-mail {
  display: block;
  margin-bottom: 10px; 
}
 
 .first-column-form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 30px;
   margin-bottom: 30px; 
 }
 
 .column-container {
   display: flex;
   flex-direction: column;
 }
 
 .column-container label {
   margin-bottom: 8px;
   
 }
 
 .column-container input,
 .column-container select {
   border-radius: 5px;
   padding: 4px;
   border: 1px solid black;
   margin-bottom: 16px;
 }
 
 .partner-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }
 
 .partner-container label, .partner-container input {
   border-radius: 5px;
   margin-right: 8px;
   align-items: center;
 }
 
 #children {
   width: 50px;
 }
 
 .second-column-form {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   margin-bottom: 30px;
   width: 100%; 
 }
 
 .column-container-2 {
   display: flex;
   flex-direction: column;
 }

 .column-container-2 textarea {
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
   width: 100%;
   height: 70px;
   resize: none;
   margin-bottom: 16px; 
 }

 .bttn-titulo {
  display: block;
  cursor: pointer;
  background-color: var(--ppal);
  color: #ffff;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: box-shadow 0.25s ease;
}

.bttn-titulo:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

/* --------------------------- PERFIL DE USUARIO --------------------------- */

/* Media queries para tabletas */
@media (max-width: 768px) {
  .profile-container {
    grid-template-columns: 100%;
    margin-top: 100px;
  }

  .form-container {
    margin-top: -30px;
  }

  .profile-photo-container {
    border: none;
  }

  .first-column-form,
  .partner-container,
  .second-column-form {
    margin-bottom: 20px;
  }
}

/* Media queries para dispositivos móviles */
@media (max-width: 480px) {
  .profile-container {
    grid-template-columns: 100%;
    margin-top: 40px;
  }

  .profile-photo-container {
    border: none;
  }

  .first-column-form,
  .partner-container,
  .second-column-form {
    margin-top: 6px;
    margin-bottom: 10px;
  }
}
