@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* Variables para los colores */
:root {
  --degradado: linear-gradient(to right, #44a647, #ffd438);
  --degradado_vertical: linear-gradient(
    180deg,
    #606c38 0%,
    #a4ac86 50.66%,
    #d1d3b3 100%
  );
  --body: #fefae0;
  --ppal: #606c38;
  --ppal_shadow: #a4ac86;
  --ppal_shadow2: #d1d3b3;
  --ppal1: #582f0e;
  --ppal1_shadow: #a68a64;
  --contraste: #800020;
  --contraste1: #b57276;
  --contraste2: #d8a6a9;
  --tituloHero: "Lato", sans-serif;
  --tituloM: "Montserrat", sans-serif;
  --texto: "Open Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--texto);
}

body {
  background-color: var(--body);
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}
/* BUSCADOR */
.buscador {
  margin: 40px 0;
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: space-between;
}
.buscador input {
  height: 42px;
  width: 620px;
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 0 13px 13px 0;
  border-color: var(--ppal);
  outline: none;
  pointer-events: auto;
}
.buscador button {
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  color: #000;
  background: var(--ppal);
  cursor: pointer;
  font-size: 17px;
  border-radius: 13px 0 0 13px;
  transition: all 0.2s ease;
}
.buscador button i {
  font-size: 24px; /* Tamaño deseado para el icono */
}

/* TARJETA */
.contenedor-foro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2em auto;
  gap: 1.5em;
}
.contenedor-foro .tarjeta {
  background: white;
  border-radius: 13px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 660px;
  height: auto;
  padding: 1.9em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
.contenedor-foro .tarjeta .persona {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0 0.9em;
  border-bottom: var(--ppal) solid 1px;
  color: green;
  padding-bottom: 10px;
}
.contenedor-foro .tarjeta .persona img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.contenedor-foro .tarjeta .persona p {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contenedor-foro .tarjeta .titulo {
  padding: 0 0.9em;
}
.contenedor-foro .tarjeta .titulo p {
  color: #000;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contenedor-foro .tarjeta .contenido img {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.contenedor-foro .tarjeta .contenido p {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 0.9em;
}
@media (min-width: 426px) and (max-width: 768px) {
  .buscador input {
    width: 390px;
  }
  .contenedor-foro .tarjeta {
    background: white;
    border-radius: 8.97px; /* Reducido un 35% */
    box-shadow: 2.73px 2.73px 2.73px 0px rgba(0, 0, 0, 0.25); /* Reducido un 35% */
    width: 429px; /* Reducido un 35% */
    height: auto;
    padding: 1.285em 1.013em; /* Reducido un 35% */
    display: flex;
    flex-direction: column;
    gap: 0.6825em; /* Reducido un 35% */
    justify-content: center;
  }

  .contenedor-foro .tarjeta .persona {
    display: flex;
    gap: 0.3525em; /* Reducido un 35% */
    align-items: center;
    padding: 0 0.6075em; /* Reducido un 35% */
    border-bottom: var(--ppal) solid 0.6825px; /* Reducido un 35% */
    color: green;
    padding-bottom: 6.825px; /* Reducido un 35% */
  }

  .contenedor-foro .tarjeta .persona img {
    width: 42.45px; /* Reducido un 35% */
    height: 42.45px; /* Reducido un 35% */
    border-radius: 50%;
  }

  .contenedor-foro .tarjeta .persona p {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12.375px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .titulo {
    padding: 0 0.6075em; /* Reducido un 35% */
  }

  .contenedor-foro .tarjeta .titulo p {
    color: #000;
    font-family: "Open Sans";
    font-size: 15.75px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contenedor-foro .tarjeta .contenido img {
    border-radius: 2.6025px; /* Reducido un 35% */
    display: block;
    margin: 0 auto;
    width: 400px;
  }

  .contenedor-foro .tarjeta .contenido p {
    color: #000;
    font-family: Roboto;
    font-size: 10.725px; /* Reducido un 35% */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 0.6075em; /* Reducido un 35% */
  }
}
