#log-bttn {
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

#signup-bttn {
  background: #000000;
  color: #f0f0f0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

#log-bttn:hover {
  color: var(--contraste);
  border-color: var(--contraste);
}

#signup-bttn:hover {
  background-color: var(--contraste);
}

.img-ppal {
  border-radius: 4%;
  filter: blur(0.2px);
}

/* --------------------------- LOGIN ---------------------------*/

.popup-login,
.popup-signup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: var(--ppal_shadow);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-login.active,
.popup-signup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-login .close-bttn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-login .form-login h2 {
  margin: 10px 0px 20px;
  font-size: 24px;
  font-weight: bolder;
}

.popup-login .form-login .form-element label {
  font-size: 16px;
  font-weight: bolder;
  color: #000000;
}

.popup-login .form-login .form-element input[type="text"],
.popup-login .form-login .form-element input[type="password"] {
  margin-top: 8px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
#password_login{
  position: relative;
}
#visibleLogin{
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
.popup-login .form-login .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup-login .form-login .form-element button {
  width: 50%;
  height: 40px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup-login .form-login .form-element button:hover {
  background-color: var(--contraste);
  cursor: pointer;
}
.footer{
  display: flex;
  justify-content: space-between;
}
.enlaceFooter{
  font-size: 16px;
  color: var(--contraste);
  text-decoration: none;
}
.enlaceFooter:hover{
  text-decoration:underline;
}

/* --------------------------- REGISTRO ---------------------------*/

.popup-signup .close-bttn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-signup .form-signup h2 {
  margin: 10px 0px 20px;
  font-size: 24px;
  font-weight: bolder;
}

.popup-signup .form-signup .form-element label {
  font-size: 16px;
  font-weight: bolder;
  color: #000000;
}

.popup-signup .form-signup .form-element input[type="text"],
.popup-signup .form-signup .form-element input[type="password"]{
  margin-top: 8px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.wrapper-pwd{
  position: relative;
}
#visibleSignup{
  position: absolute;
  cursor: pointer; 
  bottom: 5px;
  right: 5px;
}

#error-contrasena-signup{
  list-style-type: none;
  margin-top: -25px;
}
#error-contrasena-signup #tituloError{
  font-size: 16px;
}
#error-contrasena-signup li{
  color: red;
  font-size: 14px;
}
.popup-signup .form-signup .form-element button {
  width: 50%;
  height: 40px;
  border: none;
  margin: 20px auto 10px auto;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup-signup .form-signup .form-element button:hover {
  background-color: var(--contraste);
  cursor: pointer;
}
.btn-container{
  display: flex;
  justify-content: center;
}
#accedeSignup{
  font-size: 16px;
  color: var(--contraste);
  text-decoration: none;
  text-align: left;
}
#accedeSignup:hover{
  text-decoration:underline;
}
/* --------------------------- TÍTULO PPAL ---------------------------*/

.container-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
}

.titulo {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
}

.titulo img {
  width: 60%;
  margin-right: 56px;
}

.contenido-titulo {
  flex-grow: 1;
}

.contenido-titulo p {
  font-weight: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.titulo h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.bttn-titulo {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: var(--ppal);
  color: #ffff;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: box-shadow 0.25s ease; /* Añadir transición al efecto hover */
}

.bttn-titulo:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
}

/* --------------------------- PSICÓLOGOS HOME ---------------------------*/
.container-psicologos {
  /* background-color: #000000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.psico-tittle {
  text-align: center;
  margin-bottom: 160px;
}

.psico-tittle h1{
  font-family: var(--tituloHero);
  font-size: 56px;
}

.psico-card {
  cursor: pointer;
  width: 300px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.green-part {
  width: 100%;
  height: 80px;
  background-color: var(--ppal_shadow);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  position: absolute;
  top: 30px;
  width: 100px;
  height: 100px;
  /* overflow: hidden; */
  border-radius: 50%;
  margin: 0 2rem;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  margin-top: 7rem;
}

.info h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.info hr {
  width: 75%;
  margin-top: -8px;
}

.info p {
  margin-top: 20px;
  font-size: 1rem;
}

.card-back {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: var(--ppal_shadow);
  backdrop-filter: blur(15px);
  color: #f0f0f0;
  padding: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  transition: .6s;
}

.psico-card:hover .card-back {
  right: 0;
}

.card-tittle {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

.card-info{
  line-height: 25px;
  margin: 40px 0;
  /* hyphens: auto; */
}

.card-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: var(--ppal);
  color: #ffff;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: box-shadow 0.25s ease; /* Añadir transición al efecto hover */
}

.card-btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
}


/* --------------------------- CARRUSEL TESTIMONIOS ---------------------------*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 15rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 100%;
  max-width: 800px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__data {
  background-color: var(--ppal_shadow);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  height: 290px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__description {
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.75rem;
  flex-wrap: wrap;
  flex: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
}

.ri-arrow-left-s-line,
.ri-arrow-right-s-line {
  color: var(--contraste);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.fa-star {
  color: var(--contraste);
}

.fa-quote-right {
  font-size: 2em;
}


.testimonios-tittle {
  text-align: center;
  margin-top: 280px;
  margin-bottom: -80px;
}

.testimonios-tittle h1{
  font-family: var(--tituloHero);
  font-size: 56px;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--contraste);
}

/* --------------------------- CONTACTO ---------------------------*/
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  gap: 60px;
}

.contact-info {
  flex: 1;
  /* padding: 10px 20px; */
}

.contact-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  margin-top: -30px;
  margin-bottom: 60px;
}

.contact-info p {
  font-size: 24px;
  margin-top: 30px;
}

#contact-text {
  margin-top: 60px;
}

.contact-form {
  flex: 1;
  padding: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.lbl-contact {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 550;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset; /* Hace que el fondo sea transparente */
}

#nombre,
#telefono,
#correo,
textarea {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  resize: none;
  outline: 0;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid;
}

textarea {
  margin-bottom: -10px;
}

.buttons {
  width: 100%;
  text-align: right;
}

.buttons button {
  cursor: pointer;
  color: #f5f5f5;
  letter-spacing: 3px;
  background: var(--ppal);
  border: 2px solid transparent;
  border-radius: 5px;
  width: 100px;
  font-size: 14px;
  font-weight: bolder;
  height: auto;
  padding: 8px;
}

.buttons button:hover {
  background: var(--ppal_shadow);
  color: rgba(2, 0, 36);
}

/* Pantallas pequeñas */
@media screen and (min-width: 320px) {
  .card__data {
    padding: 1rem;
    height: 250px;
  }
}

/* Pantallas medianas */
@media screen and (min-width: 768px) {
  .card__data {
    margin-inline: 3rem;
    height: 290px;
  }

  .swiper-button-prev,
.swiper-button-next {
  display: block;
}
}

/* Pantallas grandes */
@media screen and (min-width: 1128px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
}